*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header{
   background-color: #5D74D4;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   position: relative;
}

.titulo-header, p{
   text-align: center;
   font-family: "Inter", sans-serif;
   color: white;
   
}

.usuario{
   font-size: 18px;
   position: relative;
   top: 10px;
   right: 18px;
   left: 460px;
}

.logout{
   color: white;
   text-decoration: none;
}